{% extends "global/Page.html" %}

{% load static %}

{% block content %}
<style>
    .product-container {
        display: flex;
        justify-content: space-around;
    }
    .product {
        border: 1px solid #ccc;
        padding: 10px.
        width: 45%;
        text-align: center.
    }
    .product img {
        width: 100%.
    }
    .choice-buttons {
        display: flex.
        justify-content: center.
        margin: 20px 0.
    }
    .choice-buttons button {
        margin: 0 10px.
        padding: 10px 20px.
        font-size: 16px.
    }
</style>

<h2>Pertanyaan 3</h2>
<p>
    Anda memiliki uang sebanyak <b>Rp{{ player.endowment_s }} juta</b> untuk digunakan membeli salah satu dari dua produk di bawah ini. <b>Produk di sebelah kiri</b> di bawah ini merupakan produk yang dianggap sebagai <b>produk ramah keberlanjutan</b> yang memiliki ciri khas:
</p>
<ul>
    <li>tidak menimbulkan polusi bagi udara, air, dan tanah,</li>
    <li>tahan lama dan mudah terurai ketika sudah tidak digunakan,</li>
    <li>diproduksi menggunakan bahan yang terbarukan (contoh: bukan dari fosil),</li>
    <li>menggunakan konsumsi energi yang rendah,</li>
    <li>aman dan meminimalisir risiko sosial, ekonomi, dan lingkungan, serta</li>
    <li>sesuai dengan peraturan yang berlaku.</li>
</ul>
    <P>
        <b>Produk di sebelah kiri merupakan produk yang Anda pilih pada pilihan pertama</b>
    </P>
<p>
    {{ context }}
</p>
    <p>
    Berikut adalah kedua produk tersebut untuk Anda pilih:
</p>
<form method="post">
    <div class="product-container">
        <div class="product">
            <img src="{% static image_A %}" alt="Winner of Round 1">
            <h3>{{ name_A }}</h3>
            <p>{{ desc_A }}</p>
            <p>Harga: Rp{{ price_A }}</p>
            <label><input type="radio" name="chosen_product" value="A"> Pilih Produk A/B</label>
        </div>
        <div class="product">
            <img src="{% static image_B %}" alt="Product C2">
            <h3>{{ name_B }}</h3>
            <p>{{ desc_B }}</p>
            <p>Harga: Rp{{ price_B }}</p>
            <label><input type="radio" name="chosen_product" value="B"> Pilih Produk C2</label>
        </div>
    </div>
        <br>
    <p>
        {{additional_info}}
    </p>
    <br>
    <div class="choice-buttons">
        <button id="btn_lanjut" disabled="disabled" class="otree-btn-next btn btn-primary">KONFIRMASI</button>
    </div>
</form>

        <script>
            var s = {{C.wait_seconds}};
            var x = setInterval(function() {

            // If the count down is over, write some text
            if (s <= 0) {
                clearInterval(x);
                document.getElementById('btn_lanjut').disabled = false;
                document.getElementById("btn_lanjut").textContent = "Konfirmasi"
                } else {
                document.getElementById("btn_lanjut").textContent = "Konfirmasi ("+s+")";
                }
                s--;
            }, 1000);
        </script>
{% endblock %}
